.slider{
    width: 100%;
    background:rgb(255, 255, 255);
    height: 170vh;
    aspect-ratio: 16/9;}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    background:rgb(255, 255, 255);
}
.name h1{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none ;
    font-size:4rem;
    font-weight: 250;
    font-family: 'Times New Roman', Times, serif;
    background-color:#f85449;;
    background-image: linear-gradient(to top,#ff0745 0%,#2c41ff 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar{
    background:rgb(247, 250, 241);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    position: sticky;
    z-index: 999;

}
.navbar_contenu{
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 1200px;
    margin:auto;
    padding: -10px;
}
#navbar_logo{
    background-color:#f85449;;
    background-image: linear-gradient(to top,#ff0745 0%,#2c41ff 100%);
    background-size: 10%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none ;
    font-size: 1.2rem;
    margin-left: -150px;

}
.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    
}
.navbar__item{
    height: 30px;
}
.navbar__links{
    color:rgb(170, 163, 163);
    text-decoration: none;
    justify-content: center;
    padding:  9px ;
    height: 100%;
    align-items: center;
    font-size: 20.5px;
    display: flex;
    cursor:pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right:2px;
    text-decoration: none ;
    font-weight: bolder;
    
}
.navbar__btn {
    display: flex;
    justify-content: center;
   
}
.button:hover{
    transition: all 0.5s ease;
    color: rgb(0, 0, 0);

}
.button{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(170, 163, 163);
    text-decoration: none;
    justify-content: center;
    padding:  1rem ;
    height: 100%;
    align-items: center;
    font-size: 23px;
    display: flex;
    cursor:pointer;
    margin-right:-200px;
    font-weight: bold;

}
.navbar__links:hover{
    transition: all 0.5s ease;
    color: rgb(0, 0, 0);
}

/*Gestion du responsive*/
@media screen and (max-width: 960px) {
    .navbar_contenu{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding:0;
    }
    .navbar_menu{
        display: grid;
        grid-template-columns:auto;
        margin: 0;
        width:100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: rgb(235, 234, 234);
    }
    
    .navbar_menu.active{
        background:#ffffff;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 70vh;
        font-size: 1.6rem;
    }
    #navbar_logo{
        padding-left:170px ;
    }

    .navbar__toggle .bar{
        width: 25px;
        height:3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background:#5e5454;
        
    }
    .button{
        margin-left: -50%;
    }
    .navbar__item{
        width: 100%;
       
    }
    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        font-size: 20px;
    }
    #mobile_menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }
    #mobile_menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile_menu.is-active .bar:nth-child(1) {
       transform:translateY(16px) rotate(90deg);
    }
    #mobile_menu.is-active .bar:nth-child(3) {
        transform:translateY(16px) rotate(-90);
      }
}
.item_menu{
    display: flex;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.item{
    border-radius: 15px;
    background:rgb(103, 103, 214);
    justify-content: center;
    margin: 60px;
    padding:  15px;
    width: 130px;
    align-items: center;
    font-size:20px;
    display: flex;
    cursor:pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 .item:hover{
    border: solid rgb(229, 190, 190);
}




.cisco img {

    width: 185px ;
    border-radius: 10px;
    position: absolute;
    align-items: center;
    left: 45%;
    top: 30%;
    

}

.html img {
    width: 190px ;
    border-radius: 10px;
    position: absolute;
    align-items: center;
    left: 75%;
    top: 65%;

}
.gns3 img {
    width: 190px ;
    border-radius: 10px;
    position: absolute;
    align-items: center;
    left: 75%;
    top: 30%;

}

.python img {
    width: 190px ;
    border-radius: 10px;
    position: absolute;
    left: 10%;
    top: 70%;
}
.vmhare img {

    width: 190px ;
    position: absolute;
    left: 20%;
    top: 25%;

     border-radius: 10px;
}


.c img {
    width: 190px ;
    border-radius: 10px ;
    margin-top: 100px ;
    margin-left:30px ;
           
    
}


.cyber img {
    width: 320px ;
    border-radius: 10px;
    position: absolute;
    left: 40%;
    top: 64%;
}


@media screen and (max-width: 960px) {
    
.cisco img {

    width: 150px ;
    border-radius: 10px;
    position: absolute;
    align-items: center;
    left:30%;
    top: 46%;
    

}

.html img {
    width: 150px ;
    border-radius: 10px;
    position: absolute;
    align-items: center;
    left: 50%;
    top: 60%;

}
.gns3 img {
    width: 120px ;
    border-radius: 10px;
    position: absolute;
    align-items: center;
    left: 60%;
    top: 28%;

}

.python img {
    width: 150px ;
    border-radius: 10px;
    position: absolute;
    left: 7%;
    top: 60%;
}
.vmhare img {

    width: 150px ;
    position: absolute;
    left: 10%;
    top: 25%;

     border-radius: 10px;
}


.c img {
    width: 180px ;
    border-radius: 10px;
    margin-top: -3%;
    
}
.packet img {
    width: 185px ;
    border-radius: 10px;
    position: absolute;
    left: 6%;
    top: 64%;

}

.cyber img {
    width: 205px ;
    border-radius: 10px;
    position: absolute;
    left:25%;
    top: 77%;
}






}